@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Welcome to Lunch Roulette.</h1>

<NavLink href="/lunches">
    <button class="btn-primary mt-5">Generate a new Lunch</button>
</NavLink>