@page "/lunches"
@using BlazorBootstrap
@rendermode InteractiveServer
@inject ILunchService LunchService

<PageTitle>Lunches</PageTitle>

<h1>Lunches</h1>


@if (_lunches.Count == 0)
{
    <p>
        <em>No lunches found</em>
    </p>
}


<InputDate @bind-Value="_date"/>
<button class="btn-primary" @onclick="GenerateGroups">Add Lunch</button>

<h2>Last Lunches</h2>

<button class="btn-error" @onclick="DeleteLunches">Reset Lunches</button>

<Accordion>
    @foreach (var lunch in _lunches)
    {
        <AccordionItem Title="@lunch.Date.ToString("dd.MM.yyyy")">

            <Content>

                @foreach (var group in lunch.Groups)
                {
                    int color = 145 + group.GetHashCode() % 700;
                    <div class="d-flex flex-wrap m-3">
                        @foreach (var member in group.Members)
                        {
                            <span class="badge me-1" style="background-color: hsl(@color, 70%, 30%)">@member.Person.Name</span>
                        }
                    </div>
                }
            </Content>
        </AccordionItem>
    }
</Accordion>

@code {

    private DateTime _date;

    private List<Lunch> _lunches = [];

    protected override void OnInitialized()
    {
        LoadLunches();

        base.OnInitialized();
    }

    private void LoadLunches() =>
        _lunches = LunchService.GetLunches();

    private void GenerateGroups()
    {
        LunchService.CreateLunch(_date);

        LoadLunches();
    }

    private void DeleteLunches()
    {
        LunchService.ResetLunches();
        LoadLunches();
    }

}